/*Fonts*/

@import url("https://fonts.googleapis.com/css2?family=Calligraffitti&family=Martel:wght@200&family=Quicksand&display=swap");

/*
    font-family: 'Martel', serif;
    font-family: 'Calligraffitti', cursive;
    font-family: 'Quicksand', sans-serif;
*/

/*Colors*/

.moodcolors {
  --blue: #2b484a;
  --orange: #d8a655;
  --brown: #a6a27e;
  --cream: #edccad;
  --light-grey: #eeeae8;
}

/*CSS*/

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
}

img {
  width: 100%;
}

h1 {
  font-family: "Calligraffitti", cursive;
  font-size: 26px;
}

h2 {
  font-family: "Martel", serif;
  font-size: 3.5vw;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-weight: bold;
}

h3,
h4 {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

div .container {
  display: flex;
  justify-content: center;
}

/*NAVBAR*/

nav {
  background-color: #a6a27e;
}

.navbar-brand {
  font-family: "Calligraffitti", cursive;
  font-size: 18px;
  white-space: wrap;
  text-align: right;
}

.navbar-logo {
  width: 80px;
}

.navbar-nav {
  list-style: none;
  text-decoration: none;
  text-align: center;
}

@media (min-width: 768px) {
  .collapse {
    justify-content: space-evenly;
  }
  .nav-item {
    margin: 0.6vw;
  }
}

/*HEADER*/

.head-text-bg-img {
  position: relative;
  color: white;
}

.img-home {
  width: 100vw;
}

.head-text {
  position: absolute;
  top: 20vw;
  left: 30vw;
  transform: translate(-25vw, -15vw);
}

.head-text > h1,
.head-slogan {
  font-size: 4.5vw;
}

/*MAIN*/

/*Le refuge*/

.text-shelter {
  background-color: var(--blue);
  color: white;
  text-align: center;
  padding: 50px;
}

.p-shelter {
  padding-bottom: 20px;
}

.title-shelter {
  text-align: center;
}

.img-shelter {
  width: 400px;
}

.hidden-shelter {
  display: none;
}

.img-border-shelter {
  width: 350px;
  padding-bottom: 20px;
}

@media (min-width: 992px) {
  .p-shelter {
    padding-left: 200px;
    padding-right: 200px;
  }
}

/*News*/

#events {
  background-color: #d8a65599;
  padding-top: 50px;
  padding-bottom: 50px;
}

.title-events {
  text-align: center;
  color: white;
  padding-bottom: 20px;
}

.box-img {
  height: 195px;
}

.box-img,
.box-text {
  width: 250px;
  display: block;
  margin: auto;
  padding: 10px;
  background-color: var(--light-grey);
}

.box-text {
  height: 230px;
}

.img-events {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.link-box {
  display: flex;
  justify-content: center;
}

.link-events {
  background-color: var(--orange);
  color: white;
  margin: 0;
  padding: 5px;
  border: solid 1px var(--orange);
  border-radius: 5px;
}

@media all and (min-width: 821px) and (max-width: 1340px) {
  .hidden {
    display: none;
  }
}

@media (min-width: 768px) {
  .p-shelter {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

/*Décoration*/

.deco-text-bg-img {
  position: relative;
  color: white;
}

.img-deco-quote {
  width: 100vw;
}

.deco-text {
  position: absolute;
  top: 20vw;
  left: 70vw;
  transform: translate(-29vw, -15vw);
  white-space: wrap;
  width: 55vw;
  text-align: right;
}

.deco-quote {
  font-size: 4vw;
  font-style: italic;
}

.deco-name {
  font-size: 3vw;
  font-weight: bold;
}

/*A l'adoption*/

#adoption {
  background-color: #d8a65599;
  padding-top: 50px;
  padding-bottom: 50px;
}

.title-adoption {
  text-align: center;
  color: white;
  padding-bottom: 20px;
}

.box-img-adopt > h3 {
  font-family: "Calligraffitti", cursive;
  font-size: 30px;
  color: var(--brown);
  line-height: 20px;
  letter-spacing: 3px;
  -webkit-text-stroke: 2.8px var(--cream);
}

.box-img-adopt > p {
  font-size: 14px;
  text-align: center;
  line-height: 0;
}

.box-img-adopt {
  background: white;
  text-decoration: none;
  font-size: 18px;
  padding: 20px 10px 5px 10px;
  margin: auto;
  margin-bottom: 30px;
  width: 200px;
  color: #8b8b8b;
  -moz-box-shadow: 0px 1px 5px 0px #656565;
  -webkit-box-shadow: 0px 1px 5px 0px #656565;
  -o-box-shadow: 0px 1px 5px 0px #656565;
  box-shadow: 0px 1px 5px 0px #656565;
}

.img-adopt {
  max-height: 120px;
  max-width: 200px;
  object-fit: cover;
}

.btn-adopt-more {
  display: flex;
  justify-content: center;
}

.adopt-more {
  background-color: var(--blue);
  color: white;
  margin: 0;
  padding: 10px;
  border: solid 1px var(--blue);
  border-radius: 5px;
}

/*Nous aider*/

.help-us {
  background-color: var(--blue);
  color: white;
  text-align: justify;
  padding: 50px;
}

.title-help-us {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.img-help-us {
  clip-path: circle();
  width: 200px;
}

.icon-help-us {
  width: 30px;
  display: flex;
  justify-content: center;
}

@media (min-width: 992px) {
  .help-us {
    padding: 50px;
  }
  .p-help-us {
    padding-left: 200px;
    padding-right: 200px;
  }
}

/*Contact*/

.div-contact {
  padding-top: 50px;
}

.title-contact-h2 {
  text-align: center;
  color: white;
  padding-bottom: 20px;
}

.img-deco-contact {
  display: none;
}

#contact {
  background-color: #d8a65599;
}

.form-contact,
.address-schedule {
  padding: 20px;
  display: grid;
  justify-content: center;
  align-items: center;
}

form,
.address,
.schedule {
  padding: 20px 20px 20px 20px;
  margin-bottom: 10px;
  -moz-box-shadow: 0px 1px 5px 0px #656565;
  -webkit-box-shadow: 0px 1px 5px 0px #656565;
  -o-box-shadow: 0px 1px 5px 0px #656565;
  box-shadow: 0px 1px 5px 0px #656565;
  background-color: white;
  width: 240px;
}

.title-contact {
  text-align: center;
  font-size: 12px;
}

label {
  margin-top: 10px;
  display: block;
}

input,
textarea {
  background-color: var(--light-grey);
  padding: 3px;
  border: 1px solid var(--light-grey);
  border-radius: 5px;
  width: 200px;
  box-shadow: 1px 1px 2px #656565 inset;
}

input[type="submit"] {
  width: 100px;
  margin-left: 5px;
  box-shadow: none;
  background-color: var(--blue);
  color: white;
}

.address,
.schedule {
  text-align: center;
  height: 170px;
}

@media (min-width: 992px) {
  .div-contact {
    padding: 50px;
  }
  .img-deco-contact {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .img-deco {
    padding: 20px 20px 20px 20px;
    margin-bottom: 10px;
    width: 240px;
  }
}
